.bgimage{
	background-image: url('/assets/repairshop.jpeg');
	background-size: cover;
	height: 100%;
}
.top{
	margin-top: 7%;
	margin-bottom: 7%;
}
.modal{
	margin-top: 18%;
}
.card:hover{
	border-radius: 3px 30px;
	border: 2px solid black;
	background-color: #e0ebeb;
	box-shadow: 7px 6px 5px #ffffcc;
}
.bg{
	background-color: #e0ebeb;
}
.mr{
	margin-right: 120px;
	border-bottom: 4px solid blue;
}
.cursive {
	font-family: cursive;
	margin-left: 110px;
}
.link:hover {
	color: blue;
}
.header{
	position: fixed;
	width: 100%;
	z-index: 1;
}
