.bg{
	background-color: black;
}
.mr{
	margin-right: 120px;
}
.active{
	border-bottom: 4px solid blue;
}
.cursive {
	font-family: cursive;
	margin-left: 110px;
}
.link:hover {
	color: blue;
}
.close{
	margin-right: 20px;
	outline: none;
	font-size: 30px;
}
.usericon{
	font-size: 30px;
}
.usersign{
	margin-top: 50px;
	font-size: 35px;
	cursor: pointer;
	outline: none;
	padding-bottom: 40px;
	border-bottom: 2px solid black;
}
.arrow{
	position: absolute;
	right: 20px;
}
